@font-face {
  font-family: "Gotham-Bold";
  src: url("./components/fonts/GothamBold.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("./components/fonts/GothamBook.otf") format("opentype");
}

/* ======= NAV BAR ====== */

#nav-logo {
  height: 50px;
  padding: 2.5px 5px 9.5px;
}

#nav-logo-container {
  padding: 0;
}

.dropbtn {
  margin: 0;
}

.dropdown {
  float: left;
}

.dropdown-content div:hover {
  background-color: #333;
  border-radius: 5px;
}

.user-dropdown-content div:hover {
  background-color: #333;
  border-radius: 5px;
}

.user-dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.user-dropdown-content div {
  padding: 12px 16px;
  float: none;
  display: block;
  color: white;
  text-align: right;
}
.dropdown-content div {
  padding: 12px 16px;
  float: none;
  display: block;
  color: white;
  text-align: right;
}

.dropdown-content a {
  float: none;
  color: white;
  text-align: left;
  padding: 12px 16px;
  float: none;
  display: block;
}
.user-dropdown-content a {
  float: none;
  color: white;
  text-align: left;
  padding: 12px 16px;
  float: none;
  display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  float: none;
  display: block;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}
.dropdown:hover .user-dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
  justify-content: space-between;
  align-content: center;
  font-family: Gotham-Bold;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.user-dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn {
  text-align: right;
}

.user-dropdown div {
  right: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ba1f3f;
  color: white;
}
.navbar a:hover,
.user-dropdown:hover .dropbtn {
  background-color: #ba1f3f;
  color: white;
}

.user-dropdown-content {
  background-color: #ba1f3f;
  min-width: 160px;
  border-radius: 5px 0 5px 5px;
}

.dropdown-content {
  background-color: #ba1f3f;
  min-width: 160px;
  border-radius: 0 5px 5px 5px;
}

.user-login {
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: white;
  text-align: left;
}

.user-logout {
  background: #333;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #333;
  border-radius: 5px;
  border-color: white;
}
.user-dropdown-content a:hover {
  background-color: #333;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  font-size: 16px;
  padding: 14px 16px;
}
.user-dropdown .dropbtn {
  font-size: 16px;
  padding: 14px 16px;
}

#nav-logo {
  display: none;
}

/* ===== GRID ===== */

.article-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px calc((100vh - 145px) / 2) calc((100vh - 145px) / 2);
}

.article-page-header,
.individual-page-header {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #333;
  color: white;
  font-family: Gotham-Bold;
}

.article-page-header h1,
.individual-page-header h1 {
  font-size: 32px;
  margin: 0;
}

.article-page-header h2,
.individual-page-header h2 {
  font-size: 20px;
  margin: 0;
}

.item2 {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  justify-content: center;

  height: calc(100vh - 145px);
  overflow: auto;
  font-family: Gotham-Book;
  width: 100%;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: calc((100vh - 145px) / 2);
  /* height: 500px; */
  display: flex;
  align-items: center;
  /* flex-direction: column;
  justify-content: center; */
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: calc((100vh - 145px) / 2);
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/* ===== ERRORS ====== */

#harold-image {
  border-radius: 10px;
  width: 50vw;
}

#harold-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== ARTICLE LIST ====== */

.bold {
  font-weight: bold;
}

.sort-section {
  display: flex;
  padding: 10px;
  font-size: 12px;
  color: #333;
}

.article-list-main {
  width: 95%;
}

.sort-button {
  color: #333;
  background-color: none;
  border: none;
  font-size: 12px;
  font-family: Gotham-Book;
  padding: 0;
}

.sort-button:hover {
  cursor: pointer;
}

.info-in-table a:visited {
  color: black;
}

.info-in-table a {
  color: black;
}

/* ======  USER PAGE ====== */

.user-info {
  background-color: #ba1f3f;
  height: 325px;
  margin: 50px;
  border-radius: 5px;
  font-family: Gotham-Bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-avatar {
  height: 175px;
  border-radius: 87.5px;
}

.user-fullname {
  padding: 20px;
  font-size: 26px;
  color: white;
}

.user-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.user-score {
  font-family: Gotham-book;
  color: white;
}

/* ======  VOTE COUNTER ====== */

.vote-section {
  height: 50px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up-vote {
  height: 0px;
  width: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
  cursor: pointer;
}

.down-vote {
  height: 0px;
  width: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  cursor: pointer;
}

div[disabled][class="up-vote"] {
  pointer-events: none;
  border-bottom: 10px solid #ba1f3f;
  cursor: auto;
}

div[disabled][class="down-vote"] {
  pointer-events: none;
  border-top: 10px solid #ba1f3f;
  cursor: auto;
}

/* ====== INDIVIDUAL ARTICLE ====== */

#body-text {
  padding: 10px;
  margin: 30px 30px 0 30px;
  line-height: 1.6;
  border-bottom: 1px solid #333;
}

#body-author {
  margin: 0 0 0 30px;
  padding: 5px;
  border: 0px;
  font-size: 12px;
  line-height: 1.6;
}
#body-author a:visited {
  color: #333;
}

#comment-form {
  padding: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comment-input {
  width: 600px;
  height: 100px;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: Gotham-Book;
  resize: none;
  border-radius: 5px;
}

#please-login {
  font-weight: bold;
  margin-left: 50px;
  color: #ba1f3f;
}

#submit-comment-button {
  color: white;
  background-color: #ba1f3f;
  transition: 0.5s;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  height: 20%;
  left: 100px;
  font-size: 14px;
  padding: 0 10px 0 10px;
}

#submit-comment-button:hover {
  background-color: #333;
}

.delete-comment-button {
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s;
  border: none;
  padding: 0 3px 0 3px;
  border-radius: 12px;
}

.delete-comment-button:hover {
  background-color: #ba1f3f;
  cursor: pointer;
}

.individual-page-header {
  align-items: flex-start;
  padding: 10px;
}

#individual-article-item2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ===== TABLE ====== */

table {
  color: black;
}

.article-table {
  width: 90%;
  border-spacing: 0;
  margin-left: 10%;
  margin-right: 50%;
}
.comment-table {
  margin: 30px;
  border-spacing: 0;
}

.article-table-row {
  height: 50px;
}

.comment-table-row {
  height: 50px;
}

.red-text {
  color: #ba1f3f;
}

.vote-img {
  height: 50px;
}

.vote-col {
  width: 50px;
  padding: 0;
}

.title-col {
  padding: 15px;
  border-top: 1px solid black;
  color: black;
}

.comment-col {
  padding: 10px;
  font-size: 12px;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-info {
  color: black;
  font-weight: bold;
}

.comment-info a {
  color: black;
}
.comment-info a:visited {
  color: black;
}

.comment-body {
  font-size: 14px;
  padding: 10px;
}

.title-in-table a {
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
}

.title-in-table a:visited {
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
}

.title-in-table a:hover {
  text-decoration: underline;
}

.info-in-table {
  font-size: 12px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
}

/*====== SIDEBAR ======*/

.sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ba1f3f;
  color: white;
  font-family: Gotham-Bold;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: calc((80vh - 145px) / 2);
  width: 90%;
}

.sidebar-title {
  font-size: 22px;
}

.sidebar-body a {
  text-decoration: none !important;
  font-size: 14px;
  color: white;
}

.sidebar-card {
  padding: 5px;
}

.sidebar-body:visited {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.sidebar-user-info {
  background-color: #ba1f3f;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: calc((80vh - 145px));
}

.sidebar-author-title {
  font-family: Gotham-Bold;
  padding: 20px;
  font-size: 26px;
}

.sidebar-author-name {
  font-family: Gotham-Book;
  padding: 0px;
  font-size: 20px;
}
.sidebar-author-name a {
  text-decoration: none;
}

.sidebar-author-score {
  font-family: Gotham-Book;
  padding: 0px;
  font-size: 14px;
}

.avatar-img {
  height: 120px;
  padding: 30px;
  border-radius: 120px;
}

/* ======= GENERAL ====== */

.loading-img-wrapper {
  display: flex;
  justify-content: center;
}

.loading-img {
  height: 30px;
  width: 30px;
  align-items: center;
}

/*====== MEDIA QUERIES ======*/
@media only screen and (max-width: 1250px) {
  .item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item3 {
    display: none;
  }
  .item4 {
    display: none;
  }
  .sidebar-user-info {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #comment-input {
    width: 80vw;
  }
}

@media only screen and (max-width: 650px) {
  .item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #harold-image {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 550px) {
  .nav-text {
    padding: 14px 6px;
  }
  .article-page-header h1 {
    font-size: 22px;
  }
  .article-page-header h2 {
    font-size: 14px;
  }
  .individual-page-header {
    font-size: 22px;
  }
  .individual-page-header h2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 26px;
  }
  .navbar a {
    font-size: 14px;
    padding: 8px 5px;
  }
  .dropdown .dropbtn {
    font-size: 14px;
    padding: 8px 5px;
  }

  .user-dropdown .dropbtn {
    font-size: 14px;
    padding: 8px 5px;
  }

  .sort-section {
    font-size: 8px;
    padding: 2px;
    align-items: center;
    justify-content: center;
  }

  .title-in-table {
    font-size: 14px;
  }
  .info-in-table {
    font-size: 10px;
  }
  #individual-article-item2 {
    font-size: 12px;
    padding: 2px;
  }
  #body-text {
    margin: 5px;
  }
}
